.experience{
  margin-bottom: 24px;

  .org-wrapper{
    width: 100%;
    min-width: 60px;
    max-width: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-200);
    color: white;
    font-size: 24px;
    font-weight: 700;
  }

  .year{
    font-size: 16px;
    color: var(--color-text-300);
  }

  .title{
    font-size: 18px;
    color: var(--color-text-200);
  }
  .location{
    font-size: 14px;
    color: var(--color-secondary-200);
  }
  .description{
    font-size: 16px;
    color: var(--color-text-300);
  }

  .certificate{
    width: 100%;
    min-height: 150px;
    background-color: var(--color-surface-mixed-400);
    padding: 12px;

    .organization{
      font-size: 17px;
      font-weight: 550;
      color: var(--color-text-100);
    }

    .title, .date{
      color: var(--color-text-100);
      font-size: 15px;
    }

    .date{
      color: var(--color-text-200);
    }

    .view, .id{
      font-size: 13px;
      color: var(--color-text-100);

      a{
        text-decoration: none;
        font-size: 13px;
        color: var(--color-primary-200);
        transition: all .3s ease-in;

        &:hover{
          color: var(--color-primary-100);
        }
      }
    }
  }
}
