<div class="container">
  <div class="wrapper">
    <h1>Sign {{title}} to Get your free Resume</h1>
    <p>Your details will automatically save in <a href="https://talentboozt.com">Talent Boozt</a> platform and you can
      access it from anywhere anytime. Use same login details to login to <a href="https://talentboozt.com/login">Talent
        Boozt</a> platform and manage your profile. Your data is safe and secure!</p>
    <div class="center-element">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
