<div class="footer">
  <div class="container">
    <div class="row footer-top">
      <div class="col-12 col-md-4 col-lg-5">
        <div class="logo-lg"></div>
        <p class="not-animate">We are committed to uplifting Human Talent <br>
          {{utilities.contactNumber2}} | {{utilities.contactNumber}}<br>
          {{utilities.contactEmail}}
        </p>
      </div>
      <div class="col-6 col-md-4 col-lg-4">
        <h2>Navigation</h2>
        <div class="row">
          <div class="col-6">
            <p> <a href="https://talnova.io/about">> About Us</a></p>
            <p> <a href="https://talnova.io/job">> Jobs</a></p>
            <p> <a href="https://talnova.io/companies">> Companies</a></p>
            <p> <a href="https://talnova.io/terms-and-conditions">> Terms &amp; Conditions</a></p>
            <p> <a href="https://talnova.io/privacy-policy">> Privacy Policy</a></p>
          </div>
          <div class="col-6">
            <p> <a href="https://talnova.io/faq">> FAQs</a></p>
            <p> <a href="https://talnova.io/sitemap">> Sitemap</a></p>
            <p> <a href="https://talnova.io/contact">> Contact Us</a></p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <h2>Follow Us</h2>
        <p><a href="{{utilities.facebook}}">> Facebook</a></p>
        <p><a href="{{utilities.twitter}}">> Twitter</a></p>
        <p><a href="{{utilities.linkedin}}">> LinkedIn</a></p>
        <p><a href="{{utilities.youtube}}">> Youtube</a></p>
        <p><a href="{{utilities.instagram}}">> Instagram</a></p>
      </div>
    </div>
  </div>

  <div class="d-md-flex align-items-center justify-content-between footer-bottom">
    <div class="footer-bottom-left">
      <p>© 2025. All rights reserved</p>
    </div>
    <div class="footer-bottom-right">
      <p class="not-animate d-flex align-items-center m-0 pe-5">Designed by Talnova Systems with
        <a href="https://talnova.io/we-built-with"><i class="material-icons ms-1"
            style="color: #c0392b; cursor: pointer;">favorite</i></a>
      </p>
    </div>
  </div>
</div>