<div class="wrapper">
  <div class="form-card-1">
    <form [formGroup]="registerForm">
      <div class="row form-wrapper">
        <div class="col-12">
          <label for="name">Name:</label>
          <input type="text" placeholder="John" id="name" formControlName="name">
          <div class="error-msg">{{errorMsg}}</div>
        </div>

        <div class="col-12">
          <label for="email">Email:</label>
          <input type="email" placeholder="example@example.com" id="email" formControlName="email">
          <div class="error-msg">{{errorMsg}}</div>
        </div>

        <div class="col-12">
          <label for="password">Password:</label>
          <div class="input-group w-100 d-flex">
            <input type="password" placeholder="Password:" id="password" formControlName="password"
              aria-label="Password:" aria-describedby="button-addon" style="flex:1">
            <button class="btn btn-outline-secondary" type="button" id="button-addon"
              (click)="togglePasswordVisibility()"><i [ngClass]="isp1open? 'fa fa-eye-slash':'fa fa-eye'"
                aria-hidden="true"></i></button>
          </div>
          <div class="error-msg">{{errorMsg}}</div>
        </div>

        <div class="col-12">
          <div class="d-sm-flex flex-column align-items-start justify-content-between">
            <div class="form-check">
              <input class="form-check-input me-2" type="checkbox" formControlName="termsCheck" id="termsCheck">
              <label class="form-check-label" for="termsCheck">
                I accept <a href="https://talnova.io/terms-and-conditions">Terms and Conditions</a>
              </label>
              <div class="error-msg">{{termsErrorMsg}}</div>
            </div>
            <div class="form-check">
              <input class="form-check-input me-2" type="checkbox" formControlName="newsCheck" id="newsCheck">
              <label class="form-check-label" for="newsCheck">
                I would like to receive Job notifications from Talent Boozt
              </label>
            </div>
          </div>
        </div>

        <div class="col-12">
          <button class="btn-1 w-100" (click)="registerUser()">Sign Up</button>
        </div>

        <div class="col-12">
          <p class="navigation-text text-center">Already have an account ? <span class="link" routerLink="/sign/in">Sign
              In</span></p>
        </div>
      </div>
    </form>

  </div>
</div>