<div class="preview-wrapper">
  <!-- Decorative Background Layers -->
  <div class="top-left-layer"></div>
  <div class="bottom-right-layer"></div>

  <div class="container my-3 position-relative" style="z-index: 1;">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        <div class="customization">
          <div class="form-wrapper w-100">
            <form [formGroup]="resumeForm">
              <h5>Appearance</h5>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="avatar" formControlName="avatar"
                  [disabled]="locked">
                <label class="form-check-label" for="avatar">
                  Avatar
                </label>
              </div>
              <div class="form-group">
                <label for="cvType">Choose Template</label>
                <select id="cvType" type="dropdown" class="form-control" formControlName="cvType" (change)="chooseCV()">
                  <option value="0">Classic Premium</option>
                  <option value="1">Modern Magazine</option>
                  <option value="2">Creative Minimalist</option>
                </select>
              </div>

              <h5 class="my-3">Sections</h5>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="personalInfo"
                  formControlName="personalInfo">
                <label class="form-check-label" for="personalInfo">
                  Personal Info
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="experiences" formControlName="experiences">
                <label class="form-check-label" for="experiences">
                  Work Experience
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="education" formControlName="educations">
                <label class="form-check-label" for="education">
                  Education
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="skills" formControlName="skills">
                <label class="form-check-label" for="skills">
                  Skills
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="projects" formControlName="projects">
                <label class="form-check-label" for="projects">
                  Projects
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="certifications"
                  formControlName="certificates">
                <label class="form-check-label" for="certifications">
                  Certifications
                </label>
              </div>
            </form>

            <h5 class="my-3">Extra Sections</h5>
            <div class="accordion w-100" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" id="CVG_RP_References" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    References
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <form (ngSubmit)="addReference()">
                      <div class="row form-wrapper">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" class="form-control" [(ngModel)]="newReference.name"
                              [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="company">Company</label>
                            <input type="text" id="company" class="form-control" [(ngModel)]="newReference.company"
                              [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" id="phone" class="form-control" [(ngModel)]="newReference.phone"
                              [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" id="email" class="form-control" [(ngModel)]="newReference.email"
                              [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <button type="submit" id="CVG_RP_AddReferance" class="btn-1">Add Reference</button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div *ngFor="let reference of references; let i = index">
                      <hr>
                      <div class="row my-2">
                        <div class="col-9">
                          <p>{{reference.name}}</p>
                        </div>
                        <div class="col-3">
                          <button class="btn-3" id="CVG_RP_Delete" type="button"
                            style="width: fit-content; height: fit-content; padding: 0" (click)="removeReference(i)"><i
                              class="material-icons" style="font-size: 14px; margin: 0; padding: 3px"
                              translate="no">delete</i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" id="CVG_RP_Language" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo">
                    Languages
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <form (ngSubmit)="addLanguage()">
                      <div class="row form-wrapper">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="name">Language</label>
                            <input type="text" id="language" class="form-control" [(ngModel)]="newLanguage.name"
                              [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label for="company">Level</label>
                            <select id="level" type="dropdown" class="form-control" [(ngModel)]="newLanguage.level"
                              [ngModelOptions]="{standalone: true}">
                              <option value="Elementary Proficiency">Elementary Proficiency</option>
                              <option value="Limited Working Proficiency">Limited Working Proficiency</option>
                              <option value="Full Professional Proficiency">Full Professional Proficiency</option>
                              <option value="Native or bilingual Proficiency">Native or bilingual Proficiency</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <button id="CVG_RP_AddLanguage" type="submit" class="btn-1">Add Language</button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div *ngFor="let language of languages; let i = index">
                      <hr>
                      <div class="row my-2">
                        <div class="col-9">
                          <p>{{language.name}}</p>
                        </div>
                        <div class="col-3">
                          <button class="btn-3" id="CVG_RP_RemLanguage" type="button"
                            style="width: fit-content; height: fit-content; padding: 0" (click)="removeLanguage(i)"><i
                              class="material-icons" style="font-size: 14px; margin: 0; padding: 3px"
                              translate="no">delete</i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" id="CVG_RP_Interests" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    Interests & Hobbies
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <form (ngSubmit)="addHobby()">
                      <div class="row form-wrapper">
                        <div class="col-10">
                          <div class="form-group">
                            <label for="name">Interests & Hobbies</label>
                            <input type="text" id="hobby" class="form-control" [(ngModel)]="newHobby.name"
                              [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="form-group">
                            <label for="name"></label>
                            <button id="CVG_RP_AddInterest" type="submit" class="btn-1">&nbsp;+&nbsp;</button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div>
                      <div *ngFor="let hobby of hobbies; let i = index">
                        <hr>
                        <div class="row my-2">
                          <div class="col-9">
                            <p>{{hobby.name}}</p>
                          </div>
                          <div class="col-3">
                            <button class="btn-3" id="CVG_RP_RemInterest" type="button"
                              style="width: fit-content; height: fit-content; padding: 0" (click)="removeHobby(i)"><i
                                class="material-icons" style="font-size: 14px; margin: 0; padding: 3px"
                                translate="no">delete</i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="my-2">
            <button class="btn-1 mb-2 w-100" id="CVG_RP_Download" type="button" (click)="printCV()">
              <i class="material-icons" style="margin-right: 8px;">download</i> Download
            </button>
            <button class="btn-2 w-100" id="CVG_RP_ProfSupport" type="button" (click)="openSupport()">
              <i class="material-icons" style="margin-right: 8px;">support_agent</i> Support
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 col-lg-9">
        <div class="resume-scale-wrapper"
          style="width: 100%; overflow: hidden; display: flex; justify-content: center; padding-top: 20px;">
          <div class="resume-scaler" [style.transform]="'scale(' + scale + ')'" [style.transform-origin]="'top center'"
            style="transition: transform 0.3s ease;">
            <div [ngSwitch]="selectedCV">
              <app-template1 *ngSwitchCase="0"
                [personalInfo]="resumeForm.get('personalInfo')?.value ? personalInfo : {}"
                [experiences]="resumeForm.get('experiences')?.value ? experiences : []"
                [education]="resumeForm.get('educations')?.value ? education : []"
                [skills]="resumeForm.get('skills')?.value ? skills : []"
                [certificates]="resumeForm.get('certificates')?.value ? certificates : []"
                [projects]="resumeForm.get('projects')?.value ? projects : []"
                [languages]="languages.length > 0 ? languages : []" [hobbies]="hobbies.length > 0 ? hobbies : []"
                [references]="references.length > 0 ? references : []"
                [avatar]="resumeForm.get('avatar')?.value ? avatar : ''"></app-template1>
              <app-template2 *ngSwitchCase="1"
                [personalInfo]="resumeForm.get('personalInfo')?.value ? personalInfo : {}"
                [experiences]="resumeForm.get('experiences')?.value ? experiences : []"
                [education]="resumeForm.get('educations')?.value ? education : []"
                [skills]="resumeForm.get('skills')?.value ? skills : []"
                [certificates]="resumeForm.get('certificates')?.value ? certificates : []"
                [projects]="resumeForm.get('projects')?.value ? projects : []"
                [languages]="languages.length > 0 ? languages : []" [hobbies]="hobbies.length > 0 ? hobbies : []"
                [references]="references.length > 0 ? references : []"
                [avatar]="resumeForm.get('avatar')?.value ? avatar : ''"></app-template2>
              <app-template3 *ngSwitchCase="2"
                [personalInfo]="resumeForm.get('personalInfo')?.value ? personalInfo : {}"
                [experiences]="resumeForm.get('experiences')?.value ? experiences : []"
                [education]="resumeForm.get('educations')?.value ? education : []"
                [skills]="resumeForm.get('skills')?.value ? skills : []"
                [certificates]="resumeForm.get('certificates')?.value ? certificates : []"
                [projects]="resumeForm.get('projects')?.value ? projects : []"
                [languages]="languages.length > 0 ? languages : []" [hobbies]="hobbies.length > 0 ? hobbies : []"
                [references]="references.length > 0 ? references : []"
                [avatar]="resumeForm.get('avatar')?.value ? avatar : ''"></app-template3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="reload-section" *ngIf="reloadBtn">
    <p>You have to provide at least your Firstname and Email address for preview CV. Try Reload!</p>
    <div class="d-flex align-items-center justify-content-center gap-3">
      <button class="reload" id="CVG_RP_AddDetails" type="button" (click)="addPersonalInfo()">Add Details</button>
      <button class="reload" id="CVG_RP_Reload" type="button" (click)="reload()">Reload</button>
    </div>
  </div>
</div>