<div class="container my-3">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3">
      <div class="customization form-card-1">
        <div class="form-wrapper">
          <form [formGroup]="resumeForm">
            <h5>Appearance</h5>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="avatar" formControlName="avatar" (selectionchange)="setAvatar()">
              <label class="form-check-label" for="avatar">
                Avatar
              </label>
            </div>
            <div class="form-group">
              <label for="cvType">Choose Template</label>
              <select id="cvType" class="form-control" formControlName="cvType" (change)="chooseCV()">
                <option value="0">Template 1</option>
                <option value="1">Template 2</option>
                <option value="2">Template 3</option>
              </select>
            </div>

            <h5 class="my-2">Personal Details</h5>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" placeholder="John Doe"
                     formControlName="name">
            </div>
            <div class="form-group">
              <label for="role">Role</label>
              <input type="text" id="role" class="form-control" placeholder="Software Engineer"
                     formControlName="role">
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              <input type="text" id="location" class="form-control" placeholder="New York, USA"
                     formControlName="location">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" id="email" class="form-control" placeholder="XwVpP@example.com"
                     formControlName="email">
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" id="phone" class="form-control" placeholder="(123) 456-7890"
                     formControlName="phone">
            </div>
            <div class="form-group">
              <label for="intro">Intro Text</label>
              <textarea type="text" id="intro" class="form-control" placeholder="I am a software engineer..."
                        formControlName="intro" rows="5"></textarea>
            </div>

            <h5 class="my-2">Sections</h5>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="experiences" formControlName="experiences">
              <label class="form-check-label" for="experiences">
                Work Experience
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="education" formControlName="educations">
              <label class="form-check-label" for="education">
                Education
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="skills" formControlName="skills">
              <label class="form-check-label" for="skills">
                Skills
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="projects" formControlName="projects">
              <label class="form-check-label" for="projects">
                Projects
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="certifications"
                     formControlName="certificates">
              <label class="form-check-label" for="certifications">
                Certifications
              </label>
            </div>
          </form>
        </div>
        <div class="my-2">
          <button class="btn-1 mb-2 w-100" (click)="printCV()">Download CV</button>
          <button class="btn-1 w-100" (click)="openSupport()">Professional Support</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-9">
      <div [ngSwitch]="selectedCV">
        <app-template1
          *ngSwitchCase="0"
          [personalInfo]="personalInfo"
          [experiences]="experiences"
          [education]="education"
          [skills]="skills"
          [certificates]="certificates"
          [projects]="projects"
        ></app-template1>
        <app-template2
          *ngSwitchCase="1"
          [personalInfo]="personalInfo"
          [experiences]="experiences"
          [education]="education"
          [skills]="skills"
          [certificates]="certificates"
          [projects]="projects"
        ></app-template2>
        <app-template3
          *ngSwitchCase="2"
          [personalInfo]="personalInfo"
          [experiences]="experiences"
          [education]="education"
          [skills]="skills"
          [certificates]="certificates"
          [projects]="projects"
          [avatar]="avatar"
        ></app-template3>
      </div>
    </div>
  </div>
</div>
