<div class="cv-render" id="cv">
  <div class="wrapper">
    <!-- Left Column (Personal Info, Skills, Certificates) -->
    <div class="left-column" *ngIf="personalInfo">
      <!-- Avatar -->
      <div class="avatar" *ngIf="avatar">
        <div class="image-wrapper">
          <img [src]="avatar ? avatar : '/imgs/default_emp_dp.svg'"
               alt="avatar">
        </div>
      </div>
      <!-- Personal Information -->
      <header style="text-align: center; margin-bottom: 30px;">
        <h1>{{personalInfo.firstname ? personalInfo.firstname +' '+ personalInfo.lastname : ''}}</h1>
        <p>{{personalInfo.occupation ? personalInfo.occupation : ''}}</p>
        <p>{{personalInfo.bio ? personalInfo.bio : ''}}</p>
      </header>

      <!-- Contact Information -->
      <section style="margin-bottom: 30px;" *ngIf="personalInfo">
        <h2 style="color: #fff; border-bottom: 2px solid #fff;">Contact</h2>
        <ul>
          <li [ngStyle]="{'display': personalInfo.email ? 'block' : 'none'}"><strong>Email:</strong> {{personalInfo.email ? personalInfo.email : 'N/A'}}</li>
          <li [ngStyle]="{'display': personalInfo.phone ? 'block' : 'none'}"><strong>Phone:</strong> {{personalInfo.phone ? personalInfo.phone : 'N/A'}}</li>
          <li [ngStyle]="{'display': personalInfo.dob ? 'block' : 'none'}"><strong>DOB:</strong> {{personalInfo.dob ? personalInfo.dob : 'N/A'}}</li>
        </ul>
      </section>

      <!-- Skills -->
      <section style="margin-bottom: 30px;" *ngIf="skills.length > 0">
        <h2 style="color: #fff; border-bottom: 2px solid #fff;">Skills</h2>
        <div style="margin-bottom: 10px;" *ngFor="let s of skills">
          <p>{{s.skill}} <span style="float: right;">{{s.percentage}}%</span></p>
          <div class="progress">
            <div class="progress-bar" [ngStyle]="{'width': s.percentage ? s.percentage +'%': '0%'}"></div>
          </div>
        </div>
      </section>

      <!-- Certificates -->
      <section style="margin-bottom: 30px;" *ngIf="certificates.length > 0">
        <h2 style="color: #fff; border-bottom: 2px solid #fff;">Certificates</h2>
        <div style="margin-bottom: 15px;" *ngFor="let c of certificates">
          <h3>{{c.name}}</h3>
          <p>{{c.organization}} | {{c.date}}</p>
          <a href="{{c.certificateUrl}}" style="color: #fff; text-decoration: underline;">View Certificate</a>
        </div>
      </section>
    </div>

    <!-- Right Column (Experience, Education, Projects) -->
    <div class="right-column">
      <!-- Experience -->
      <section style="margin-bottom: 30px;" *ngIf="experiences.length > 0">
        <h2>Experience</h2>
        <div style="margin-bottom: 20px;" *ngFor="let e of experiences">
          <h3>{{e.occupation}} at {{e.organization}}</h3>
          <p>{{e.country}} | {{e.startDate}} - {{e.endDate}}</p>
          <p>{{e.description}}</p>
        </div>
      </section>

      <!-- Education -->
      <section style="margin-bottom: 30px;" *ngIf="education.length > 0">
        <h2>Education</h2>
        <div style="margin-bottom: 20px;" *ngFor="let e of education">
          <h3>{{e.degree}} at {{e.school}}</h3>
          <p>{{e.country}} | {{e.startDate}} - {{e.endDate}}</p>
          <p>{{e.description}}</p>
        </div>
      </section>

      <!-- Projects -->
      <section style="margin-bottom: 30px;" *ngIf="projects.length > 0">
        <h2>Projects</h2>
        <div style="margin-bottom: 20px;" *ngFor="let p of projects">
          <h3>{{p.name}} at {{p.company}}</h3>
          <p>{{p.role}} | {{p.startDate}} - {{p.endDate}}</p>
          <p>{{p.description}}</p>
          <a href="{{p.demo}}" style="margin-right: 10px;">Demo</a>
          <a href="{{p.source}}">Source Code</a>
        </div>
      </section>

      <!-- Languages Section -->
      <section style="margin-bottom: 30px;" *ngIf="languages.length > 0">
        <h2>Languages</h2>
        <div style="margin-bottom: 20px;">
          <table>
            <tr *ngFor="let l of languages">
              <td style="padding-right: 20mm">
                <ul style="margin-bottom: 0">
                  <li>
                    <p>{{l.name}}</p>
                  </li>
                </ul>
              </td>
              <td><p>{{l.level}}</p></td>
            </tr>
          </table>
        </div>
      </section>

      <!-- Hobbies Section -->
      <section style="margin-bottom: 30px;" *ngIf="hobbies.length > 0">
        <h2>Interests & Hobbies</h2>
        <div style="margin-bottom: 20px;">
          <ul>
            <li *ngFor="let h of hobbies">
              <p>{{h.name}}</p>
            </li>
          </ul>
        </div>
      </section>

      <!-- References Section -->
      <section style="margin-bottom: 30px;" *ngIf="references.length > 0">
        <h2>References</h2>
        <div style="margin-bottom: 20px;" *ngFor="let r of references">
          <h3>{{r.name}}</h3>
          <p>{{r.company}}</p>
          <table>
            <tr>
              <td style="padding-right: 5mm"><a href="mailto:{{r.email}}" style="font-size: 0.9rem; color: #007bff; text-decoration: none;">{{r.email}}</a></td>
              <td><a href="tel:{{r.phone}}" style="font-size: 0.9rem; color: #007bff; text-decoration: none;">{{r.phone}}</a></td>
            </tr>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
