<div style="position: relative;">
  <div class="container" style="max-width: 233mm;">
    <div [ngSwitch]="selectedCV">
      <app-template1
        *ngSwitchCase="0"
        [personalInfo]="personalInfo ? personalInfo : {}"
        [experiences]="experiences ? experiences : []"
        [education]="education ? education : []"
        [skills]="skills ? skills : []"
        [certificates]="certificates ? certificates : []"
        [projects]="projects ? projects : []"
        [avatar]="avatar ? avatar : ''"
      ></app-template1>
      <app-template2
        *ngSwitchCase="1"
        [personalInfo]="personalInfo ? personalInfo : {}"
        [experiences]="experiences ? experiences : []"
        [education]="education ? education : []"
        [skills]="skills ? skills : []"
        [certificates]="certificates ? certificates : []"
        [projects]="projects ? projects : []"
        [avatar]="avatar ? avatar : ''"
      ></app-template2>
      <app-template3
        *ngSwitchCase="2"
        [personalInfo]="personalInfo ? personalInfo : {}"
        [experiences]="experiences ? experiences : []"
        [education]="education ? education : []"
        [skills]="skills ? skills : []"
        [certificates]="certificates ? certificates : []"
        [projects]="projects ? projects : []"
        [avatar]="avatar ? avatar : ''"
      ></app-template3>
    </div>

    <div class="loading" *ngIf="loading">
      <div class="loader"></div>
    </div>
  </div>

  <div class="download-cv" (click)="printCV()" id="CVG_ERB_Download" type = "button">
    <i class="material-icons">download</i>
  </div>
</div>
