<div class="container">
  <div class="d-flex flex-column align-items-center justify-content-center w-100">
    <div class="heading-tag">
      Step Up Your Career with a Professional Resume. Your Gateway to Opportunities That Matter.
    </div>
    <div class="heading-desc">
      Did you know? A well-crafted resume boosts your chances of getting noticed by top employers!
    </div>

    <div class="img-wrapper">
      <img src="/imgs/support-banner.webp" alt="banner">
    </div>

    <div class="card-1">
      <p>
        Ready to take your career to the next level? With our professional resume services, you’ll stand out in a
        competitive job market.
      </p>

      <p>
        Whether you’re starting your journey, growing your career, or aiming for the top, we’re here to craft a resume
        that highlights your strengths and achievements.
      </p>

      <p>
        Let us help you build a resume that opens doors to endless opportunities.
      </p>

      <button class="btn-1" data-bs-toggle="modal" data-bs-target="#cvRequestModel"><span class="red-dot"></span><span class="dot-animation"></span>Request Us</button>
    </div>

    <p class="p-bold">Let Our Experts Guide You – Just Follow These Easy Steps to Success!</p>

    <div class="row w-100" style="max-width: 800px">
      <div class="col-6">
        <div class="card-2">
          <div class="num-wrapper">
            <span>1</span>
          </div>
          <p>Choose Your Career Stage and Fill Out the Form.</p>
        </div>
      </div>
      <div class="col-6">
        <div class="card-2">
          <div class="num-wrapper">
            <span>2</span>
          </div>
          <p>Receive a Customized Draft from Our Experts.</p>
        </div>
      </div>
      <div class="col-6">
        <div class="card-2">
          <div class="num-wrapper">
            <span>3</span>
          </div>
          <p>Provide Feedback for Edits and Finalization.</p>
        </div>
      </div>
      <div class="col-6">
        <div class="card-2">
          <div class="num-wrapper">
            <span>4</span>
          </div>
          <p>Download Your Ready-to-Apply Resume.</p>
        </div>
      </div>
    </div>

    <p class="p-bold">Sample Designs</p>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3" *ngFor="let i of images; index as j">
        <div class="sample-cv" (click)="openLightbox(j)">
          <img src="{{i.src}}" alt="{{i.alt}}">
        </div>
      </div>
    </div>

    <div class="lightbox" *ngIf="lightboxVisible">
      <div class="overlay" (click)="closeLightbox()"></div>
      <div class="content">
        <button class="close-btn" (click)="closeLightbox()">&#x2715;</button>
        <button class="nav-btn prev" (click)="prevImage()">&#8249;</button>
        <img [src]="images[currentIndex].src" alt="Large View" class="large-image" />
        <button class="nav-btn next" (click)="nextImage()">&#8250;</button>
      </div>
    </div>

    <div class="fq-wrapper">
      <div class="fq-title">
        Frequently Asked Questions
      </div>
      <div *ngFor="let f of utilities.faq">
        <div class="fq-sub-title">
          {{f.category}}
        </div>

        <div class="accordion fq" id="{{f.category}}">
          <div class="accordion-item" *ngFor="let q of f.questions">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#'+f.id+q.id" aria-expanded="false" [attr.aria-controls]="f.id+q.id">
                {{q.question}}
              </button>
            </h2>
            <div id="{{f.id+q.id}}" class="accordion-collapse collapse" [attr.data-bs-parent]="'#'+f.category">
              <div class="accordion-body">
                {{q.answer}}
              </div>
            </div>
          </div>
<!--          <div class="separator"></div>-->
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal" id="cvRequestModel" tabindex="-1" aria-labelledby="cvRequestModelLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title fs-5" id="cvRequestModelLabel">Send a Request</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cvForm" class="w-100">
          <div class="row form-wrapper">
            <div class="col-12">
              <div class="form-group">
                <label for="name">Your Name *</label>
                <input type="text" id="name" class="form-control" placeholder="John Doe"
                       formControlName="name">
                <div class="error-msg">{{commonError}}</div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="email">Email Address *</label>
                <input type="email" id="email" class="form-control" placeholder="XwVpP@example.com"
                       formControlName="email">
                <div class="error-msg">{{commonError}}</div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="date" id="dob" class="form-control" placeholder="DD/MM/YYYY"
                       formControlName="dob">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="careerStage">Career Stage *</label>
                <select class="form-control" id="careerStage" formControlName="careerStage">
                  <option selected>Fresh Graduate</option>
                  <option>Executive</option>
                  <option>Manager</option>
                  <option>Senior Manager</option>
                  <option>Director</option>
                  <option>VP</option>
                  <option>CEO</option>
                  <option>Other</option>
                </select>
                <div class="error-msg">{{commonError}}</div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="jobTitle">Job Title *</label>
                <input type="text" id="jobTitle" class="form-control" placeholder="Software Engineer"
                       formControlName="jobTitle">
                <div class="error-msg">{{commonError}}</div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="link">Link of the Job Ad</label>
                <input type="text" id="link" class="form-control" placeholder="https://..."
                       formControlName="link">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="message">Message</label>
                <textarea type="text" id="message" class="form-control" placeholder="I am a software engineer..."
                          formControlName="message" rows="5"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-1 me-2" (click)="sendRequest()" [disabled]="loading">{{loading ? 'Sending...' : 'Send Request'}}</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
